[submodule "posh-git"]
	path = posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "posh-hg"]
	path = posh-hg
	url = https://github.com/dahlbyk/posh-hg.git
[submodule "Modules/OutlookTools"]
	path = Modules/OutlookTools
	url = git@github.com:/bgshacklett/OutlookTools
	ignore = dirty
