[submodule "posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "Modules/OutlookTools"]
	path = Modules/OutlookTools
	url = https://github.com/bgshacklett/OutlookTools
	ignore = dirty
[submodule "Modules/PSStash"]
	path = Modules/PSStash
	url = https://github.com/bgshacklett/PSStash.git
[submodule "Modules/PSIdentityManagement"]
	path = Modules/PSIdentityManagement
	url = https://github.com/bgshacklett/PSIdentityManagement.git
[submodule ".\\Modules\\Posh-SSH"]
	path = .\\Modules\\Posh-SSH
	url = git@github.com:bgshacklett/Posh-SSH.git
