[submodule "posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "Modules/OutlookTools"]
	path = Modules/OutlookTools
	url = https://github.com/bgshacklett/OutlookTools
	ignore = dirty
[submodule "Modules/PSStash"]
	path = Modules/PSStash
	url = https://github.com/bgshacklett/PSStash.git
[submodule "Modules/PSIdentityManagement"]
	path = Modules/PSIdentityManagement
	url = https://github.com/bgshacklett/PSIdentityManagement.git
[submodule "Modules/Posh-SSH"]
	path = Modules/Posh-SSH
	url = https://github.com/bgshacklett/Posh-SSH.git
[submodule "Modules/PowerYaml"]
	path = Modules/PowerYaml
	url = https://github.com/scottmuc/PowerYaml.git
[submodule "Modules/FAWS-Powershell"]
	path = Modules/FAWS-Powershell
	url = git@github.rackspace.com:bria0265/FAWS-Powershell.git
[submodule "Modules/Posh-CTLogs"]
	path = Modules/Posh-CTLogs
	url = git@github.rackspace.com:bria0265/Posh-CTLogs.git
[submodule "Modules/New-RandomPassword"]
	path = Modules/New-RandomPassword
	url = https://github.com/bvandermark/New-RandomPassword.git
[submodule "Modules/TabExpansionPlusPlus"]
	path = Modules/TabExpansionPlusPlus
	url = https://github.com/lzybkr/TabExpansionPlusPlus.git
